* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0f0f0f;
    color: white;
}

/*-- for mobile --*/
@media only screen and (max-width: 768px) {
    #appTable img {
        margin: 5;
    }

    #x, #z {
        left: 20%;
    }
}

/*-- for desktop --*/
@media only screen and (min-width: 768px) {
    #appTable img {
        margin: 15%;
    }
    
    #x, #z {
        left: 50%;
    }
}

/* -- header -- */

header {
	display: flex;
    justify-content: flex-start;
	padding-left: 10px;
    text-shadow: 0px 0px 10px white;
}

header img {
	width: 12%;
    height: 100%;
    margin: 10px;
}

/* -- content -- */

#container {
	clear: both;
    top: 10%;
    width: 98vw;
    height: 90%;
}

/* -- appTable -- */

#appTable {
    width: 100%;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-gap: 20px;
}

#appTable img {
    max-width: 100px;
    position: relative;
}

/* -- noShow -- */

.noShow {
	display: none;
}

/* -- calculator styles -- */

#calc {
    display: flex;
    justify-content: center;
}

#calc iframe {
    border: none;
    height: 280px;
}

button {
	font-size: 200%;
	width: 40px;
}

input {
	font-size: 22px;
	height: 40px;
    width: 180px;
	text-align: right;
}

/* -- window -- */

.window {
    height: 70vh;
    width: 98vw;
}

.window iframe {
    border: none;
    width: 100%;
    height: 100%;
}

/* -- knife styles -- */

#knivesTable {
    font-size: 1.5em;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, minmax(50px, 1fr));
    text-align: center;
}

 #knivesTable img {
    max-width: 100%;
    height: auto;
    margin: auto;
    padding-bottom: 12px;
}

#knivesTable h4 {
    text-decoration: underline;
    margin-bottom: 5px;
}

/* -- shop styles -- */

#shopTable {
    font-size: 1.5em;
    width: 100%;
}

#shopTable h3 {
    text-align: center;
    text-shadow: 0px 0px 10px white;
    margin: 10px 0;
}

#product {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
}

#shopTable img {
    border: 0.15em solid white;
    padding: 3px;
    max-width: 500px;
}

/* -- monster styles -- */

